.banner .date {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
 
  z-index: 1000;
  margin-top: 60px;


  transform: translateX(50px);
  transition: 2s ease;
}

.banner .date.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

  
  transform: translateX(0);
}

.banner .date h2 {
  font-family: "Racing Sans One", cursive;
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  -webkit-mask: linear-gradient(#000000 0 0), linear-gradient(#000000 0 0);
  -webkit-mask-clip: text, padding-box;
  -webkit-mask-composite: xor;
  text-transform: uppercase;

}

.date h2 {
  margin: 0;
}

.date h2 span {
  display: block;
  
}
