.banner .trailer {
  position: relative;
  visibility: visible;
  opacity: 0;
  transform: scale(0);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(20px);
  transition: 2s ease;
}

.banner .trailer.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);

  transform: translateY(0);
}

.trailer p {
  color: var(--primary);
  font-size: 1.2rem;
  margin-left: 20px;
  margin-bottom: 0;
}

.banner .PlayBtn {
  position: relative;
  color: #ffffff;
  width: 70px;
  height: 70px;
  transition: 1s;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
}

.banner .PlayBtn .playout {
  font-size: 3rem;
  color: var(--primary);
  cursor: pointer;
}

.banner .PlayBtn::before {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  content: "";
  background: transparent;
  border: 10px solid #ffffff;
  border-radius: 50%;
  animation: button 1s linear infinite;
}

@keyframes button {
  0%,
  100% {
    opacity: 0.3;
    filter: blur(4px);
  }
  50% {
    opacity: 1;
    filter: blur(10px);
  }
}
