.search {
  position: relative;
  width: 300px;
  height: 40px;
}

.search input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: transparent;
  border: 1px solid rgba(255, 255, 2555, 0.5);
  outline: none;
  border-radius: 4px;
  padding: 0 10px 0 45px !important;
  backdrop-filter: blur(10px);
}

.search input::placeholder {
  color: #ffffff;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  padding-right: 10px;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  width: 30px;
  height: 20px;
}

.search-results {
  position: absolute;
  top: 45px;
  width: 100%;
  max-height: 130px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 8px;
  z-index: 9999;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.movie-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.movie-item:hover {
  background: rgba(255, 255, 255, 0.08);
}

.movie-item img {
  width: 40px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.movie-info h4 {
  margin: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}

.movie-meta {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 2px;
  font-size: 11px;
  color: #aaa;
}

.movie-meta span:last-child {
  color: gold;
}
